body {background:lavender;}
h1 {font-size:50px;}
#best {color:#6600ff;}

hr {color:#6600ff;}


#recipie {columns:2;}

li {font-size:20px;}
#mint {color:#4dff88;}
#strawberry {color:#ff99cc;}
#vanilla {color:#ffffe6;}
#rockyroad {color:#b35900;}

.gal {height:250px;}
